.putcenre{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:100vh;
}
.weather{
    display:flex;
    width:850px;
    background: linear-gradient(to bottom, #87ceeb, #ff5733);
    border-radius:13px;
    box-shadow:0px 0px 8px red;
}
.place{
    width:150px;
    height:200px;
    border-radius:15px;
    background: black;
}
.place img{
    width:150px;
    height:200px;
    border-radius:15px;
object-fit: cover;
}
.city-cards {
    display:flex;
    align-items: center;
}
.cites{
    display:flex;
    gap:1em;
   
}
.hourly{
    display:flex;
    flex-direction: column;
gap:.5em;
}
.bo{
    padding-bottom:0.6em;
    border-bottom:2px solid gray;
}
.mern{
    display:flex;
    gap:1.5em;
  
}
.boxr{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
}

.weather-left{

    width:510px;
    display:flex;
    padding:0.8em;
    flex-direction: column;
    gap:1em;
    justify-content: center;
}
.inp{
    align-self: center;
}
.mern9{
    gap:2em;
   
}
input[type='text']{
    width:300px;
    padding:0.1em 0 0 1em;
    font-family: 'hammersmith one';
    outline:none;
    border:2px solid black;
}
.icon{
    width:30px;
    height:30px;
    background:white;
    padding:0.1em;
    border:2px solid black;
}.wea{
    color:blue;
    font-family:"poppins";
     font-size:1.3rem;
}
.wea span{
    font-weight: bold;
}
.hous{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.hous h1{
font-size:0.8rem;
}
.cloud{
    font-size:1.3rem;
}
.weather-right{

    width:350px;
    height:600px;
   
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.weather-left{
    background: white;
    
}
.today{
    display:flex;
    justify-content: center;
    align-items: center;
}
.wlogo{
    font-size:2rem;
}
.today h1{
    font-size:2rem;
    font-family:'hammersmith one';
}
.dare{
    font-family:'hammersmith one';
}
.temp{
    font-size:5rem;
    font-family:'poppins';
    margin-top:0px;
}
.placeNAME{
    font-family: "hammersmith one";
    margin-top:-10px;
}
.tempdet{
    display:flex;
   
    gap:1em;
}
.boxwa{
    margin-top:20px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:1rem;
    font-family:'hammersmith one';
}
@media(max-width:877px){
    .weather{
        margin-top:600px;
        width:520px;
        flex-direction: column;
        align-items: center;
    }
}
@media(max-width:539px){
   .weather{
    width:380px;
   }
   .place{
    width:60px;
    height:100px;
    border-radius:15px;
    background: black;
}
.place img{
    width:60px;
    height:100px;
    border-radius:15px;
object-fit: cover;
}
}